git+https://github.com/Unisens/pyunisens
plotly
pandas
numpy
scikit-learn
jupyter
opencv-python
matplotlib
tqdm
dtaidistance
tensorflow
scikit-image
scipy
keras
torch
torchvision
tslearn
av
vit_pytorch