git+https://github.com/Unisens/pyunisens
plotly
pandas
numpy
scikit-learn
jupyter
opencv-python
matplotlib
tqdm
dtaidistance

# MTTS-CAN
tensorflow
scikit-image
scipy
keras

torch
tslearn
git+https://github.com/pzierahn/RAFT