plotly
pandas
numpy
scikit-learn
jupyter
opencv-python
matplotlib
tqdm
dtaidistance
tensorflow
scikit-image
scipy
keras
torch
torchvision
tslearn
av
vit_pytorch
pyyaml
mediapipe
timm
seaborn
scipy
git+https://github.com/facebookresearch/detectron2.git@v0.6
git+https://github.com/Unisens/pyunisens
bibtexparser